* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: left;
  font-family: Inter;
}

.star {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: color .5s ease-in-out;
  user-select: none;
  color: white;
}

.star.filled {
  color: orange;
}

button {
  background-color: #E5E7EB;
  color: #4B5563;
  border: 1px solid #6B7280;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

button:focus {
  outline: none;
}

button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

button.button-lg {
  padding: 13px 25px;
}

button.button-success {
  color: #047857;
  background-color: #ECFDF5;
  border-color: #047857;
}

button.button-warning {
  color: #FBBF24;
  background-color: #FFFBEB;
  border-color: #FBBF24;
}

button.button-danger {
  color: #F87171;
  background-color: #FEF2F2;
  border-color: #F87171;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: white;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
}

.menu-item {
  color: #4B5563;
  padding: .75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6B7280;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  transition: background-color .3s ease-in-out;
}

.box.filled {
  background-color: blue;
}

.badge-align {
  margin-left: 200px;
  margin-top: 100px;
}

.badges {
  font-family: Permanent Marker;
  font-weight: 400;
  font-style: Regular;
  font-size: 44.1px;
  line-height: 63px;
  letter-spacing: 0%;
  width: 146px;
  height: 63px;
  opacity: 1;
}

.square-badge {
  font-family: Inter;
  width: 67px;
  height: 24px;
  opacity: 1;
  border-radius: 4px;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.pill-badge {
  font-family: Inter;
  width: 67px;
  height: 24px;
  opacity: 1;
  border-radius: 12px;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-left: 12px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

badge.badge-grey {
  background-color: #F3F4F6;
  color: #1F2937;
}

badge.badge-red {
  background-color: #FEE2E2;
  color: #991B1B;
}

badge.badge-yellow {
  background-color: #FEF3C7;
  color: #92400E;
}

badge.badge-green {
  background-color: #D1FAE5;
  color: #065F46;
}

badge.badge-blue {
  background-color: #DBEAFE;
  color: #1E40AF;
}

badge.badge-indigo {
  background-color: #E0E7FF;
  color: #3730A3;
}

badge.badge-purple {
  background-color: #EDE9FE;
  color: #5B21B6;
}

badge.badge-pink {
  background-color: #FCE7F3;
  color: #9D174D;
}